h1 {
    color: darkred;
    text-align: center;
  }

  p {
    font-size: large;
    color: black;
    text-align: center;
    height: auto;
    width: 100%;
  }
  ol, ul {
    display: block;
    margin-top: 35px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 2px;
    padding-top: 10px;
    padding-bottom: 5px;
    border: black solid 2px;
  }

  li {
    padding-bottom: 10px;
  }

  em, strong {
    color: red;
    font-size: 20px;
    text-shadow: white 1px 1px 1px;
  }


  /*GRID BELOW*/


  .grid-container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
    "top top top"
    "left middle right"
    "left middle right"
    "bottom bottom bottom";
  }

  .top {
    grid-area: top;
    /*border: blue dotted 3px;*/
    background-color: rgba(192, 192, 192, 0.61);
  }

  .mid {
    grid-area: middle;
    /*border: red dotted 3px;*/
    background-color: rgb(228, 109, 109);
  }

  .left {
    grid-area: left;
    /*border: black dotted 3px;*/
  }

  .right {
    grid-area: right;
    /*border: green dotted 3px;*/
  }

  .left, .right{
    background-color: rgb(153, 153, 233);
  }

  .bottom {
    grid-area: bottom;
    /*border: purple dotted 3px;*/
    background-color: rgba(192, 192, 192, 0.61);
  }

  h2 {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    /*border: black solid 3px;*/
    margin: 0 auto;
    height: 12%;
  }

  h3 {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    /*border: black solid 3px;*/
    height: 8%;
  }

