  body {
    background-color: rgba(4, 0, 255, 0.425);
  }

  h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 350%;

  }

  li {
    padding-bottom: 10px;
  }

  em, strong {

    font-size: 21px;
    font-weight: bold;
    text-shadow: rgb(0, 0, 0) 1px 0px 0px;
  }

  hr {
    border-color: black;
  }


  /*GRID*/


  .grid-container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 2fr 4fr 2fr;
    grid-template-rows: 1fr 0.2fr 3fr 1fr;
    grid-template-areas: 
    "top top top"
    "nav nav nav"
    "left middle right"
    "bottom bottom bottom";
  }

  .top {
    grid-area: top;
    border: black solid 2px;
  }

  .bottom {
    grid-area: bottom;
    height: fit-content;
    border-bottom: black solid 2px;
    border-right: black solid 2px;
    border-left: black solid 2px;
  }

  .nav {
    background-color: rgba(184, 0, 0, 0.596);
    display: grid;
    justify-content: center;
    height: fit-content;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-area: nav;
    border-left: black solid 2px;
    border-right: black solid 2px;
    padding: 1%;
  }

  
  .navbutton {
    display: block;
    height: fit-content;
    border-radius: 3px;
    background-color: rgb(77, 77, 77);
    box-shadow: 4px 3px 5px;
    margin: 2%;
    

  }

  button a {
    display: flex;
    justify-content: center;
    margin: 0;
    border-radius: 3px;
    border: white groove 1px;
    color: whitesmoke;
    font-size: 200%;
    text-shadow: black 2px 1px 0px;
  }
  .mid {
    padding-left: 8px;
    padding-right: 8px;
    grid-area: middle;
    display: grid;
    grid-template-rows: 0fr 1fr 0fr 1fr 0fr 3fr;
    grid-template-areas:
    "row-head"
    "row-desc"
    "row-subhead"
    "row-content"
    "row-subhead1"
    "row-content1";
    border: black solid 2px;
  }

  .left {
    padding-left: 8px;
    padding-right: 8px;
    grid-area: left;
    display: grid;
    grid-template-rows: 0fr 1fr 0fr 4fr;
    grid-template-areas:
    "row-head"
    "row-desc"
    "row-subhead"
    "row-content";
    border-top: black solid 2px;
    border-left: black solid 2px;
    border-bottom: black solid 2px;
  }

  .right {
    padding-left: 8px;
    padding-right: 8px;
    grid-area: right;
    display: grid;
    grid-template-rows: 0fr 1fr 0fr 4fr;
    grid-template-areas:
    "row-head"
    "row-desc"
    "row-subhead"
    "row-content";
    border-top: black solid 2px;
    border-right: black solid 2px;
    border-bottom: black solid 2px;
  }

  .row-head {
    text-align: center;
    font-size: 120%;
    grid-area: row-head;
  }

  .row-desc {
    text-align: center;
    grid-area: row-desc;
  }

  .row-subhead {
    text-align: center;
    grid-area: row-subhead;
  }

  .row-subhead1 {
    text-align: center;
    grid-area: row-subhead1;
  }

  .row-content {
    grid-area: row-content;
    grid-area: row-content;
  }

  .row-content p{
    text-align: center;
  }

  .row-content1 {
    text-align: center;
    grid-area: row-content1;
  }

  .left, .right, .mid{
    background-color: rgb(216, 228, 233);
  }

  .top, .bottom {
    text-align: center;
    padding: 8px;
    background-color: rgba(255, 0, 234, 0.336);
  }

@media screen
and (min-width: 641px)
and (max-width: 900px)  {
  .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 4fr 2fr 1fr;
    grid-template-areas: 
    "top top"
    "nav nav"
    "middle middle"
    "left right"
    "bottom bottom";
  }
  .mid {
    border-bottom: none;
  }
  .left {
    border-right: black solid 2px;
  }
}

@media screen
and (max-width: 640px)  {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2fr 1fr 1fr 1fr;
    grid-template-areas: 
    "top"
    "nav"
    "middle"
    "left"
    "right"
    "bottom";
  }

  .mid {
    border-bottom: none;
  }

  .left {
    border-bottom: none;
    border-right: black solid 2px;
  }
  .right {
    border-left: black solid 2px;
  }
}