@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Ubuntu:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Hubballi&family=Ubuntu:wght@300;400&display=swap');
  
  body {
    background-color: rgba(4, 0, 255, 0.425);
  }

  h1 {
    color: rgb(0, 0, 0);
    font-family: 'Bitter', serif;
    font-weight: bolder;
    font-size: 350%;
  }

  h2{
    margin-top: 40px;
    font-family: 'Ubuntu', sans-serif;
  }

  .font-me { 
    font-family: 'Hubballi', cursive;
  }

  li {
    padding-bottom: 10px;
  }

  ol, ul {
    font-size: larger;
  }

  p {
    font-size: larger;
  }

  em, strong {

    font-size: 21px;
    font-weight: bold;
    text-shadow: rgb(0, 0, 0) 1px 0px 0px;
  }

  hr {
    border-color: black;
  }


  /*GRID*/


  .grid-container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 2fr 4fr 2fr;
    grid-template-rows: 1fr 0fr 0fr 1fr;
    grid-template-areas: 
    "top top top"
    "nav nav nav"
    "left middle right"
    "bottom bottom bottom";
  }

  .top {
    background-color: rgba(255, 0, 234, 0.397);
    grid-area: top;
    border: black solid 2px;
  }

  .bottom {
    background-color: rgba(166, 96, 206, 0.795);
    grid-area: bottom;
    height: fit-content;
    border-bottom: black solid 2px;
    border-right: black solid 2px;
    border-left: black solid 2px;
  }

  nav {
    background-color: rgba(184, 0, 0, 0.596);
    display: grid;
    justify-content: center;
    height: max-content;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-area: nav;
    border-left: black solid 2px;
    border-right: black solid 2px;
    padding: 1%;
  }


  
  .navbutton {
    display: flex;
    justify-content: space-around;
    flex-flow: row nowrap;
    border: black solid 2px;
    border-radius: 3px;
    background-color: rgb(77, 77, 77);
    box-shadow: 4px 3px 5px;

  }

  button a {
    font-family: 'Bitter', serif;
    display: flex;
    justify-content: center;
    margin: 0;
    border-radius: 3px;
    color: whitesmoke;
    font-size: 200%;
    text-shadow: black 2px 1px 0px;
    text-decoration: none;
  }

  .navbutton:hover {
    background-color: rgb(160, 156, 156);
  }

  .mid {
    padding-left: 8px;
    padding-right: 8px;
    grid-area: middle;
    display: grid;
    grid-template-rows: 0fr 1fr 0fr 1fr 0fr 3fr;
    grid-template-areas:
    "row-head"
    "row-desc"
    "row-subhead"
    "row-content"
    "row-subhead1"
    "row-content1";
    border: black solid 2px;
  }

  .left {
    padding-left: 8px;
    padding-right: 8px;
    grid-area: left;
    display: grid;
    grid-template-rows: 0fr 1fr 0fr 4fr;
    grid-template-areas:
    "row-head"
    "row-desc"
    "row-subhead"
    "row-content";
    border-top: black solid 2px;
    border-left: black solid 2px;
    border-bottom: black solid 2px;
  }

  .right {
    padding-left: 8px;
    padding-right: 8px;
    grid-area: right;
    display: grid;
    grid-template-rows: 0fr 1fr 0fr 4fr;
    grid-template-areas:
    "row-head"
    "row-desc"
    "row-subhead"
    "row-content";
    border-top: black solid 2px;
    border-right: black solid 2px;
    border-bottom: black solid 2px;
  }

  .row-head {
    text-align: center;
    font-size: 120%;
    grid-area: row-head;
  }

  .row-desc {
    text-align: center;
    grid-area: row-desc;
  }

  .row-desc p {
    padding-bottom: 10px;
  }

  .row-subhead {
    text-align: left;
    grid-area: row-subhead;
  }

  .row-subhead1 {
    text-align: left;
    grid-area: row-subhead1;
  }

  .row-content {
    grid-area: row-content;
    grid-area: row-content;
  }

  .row-content p{
    margin-left: 3%;
    margin-right: 3%;
    text-align: left;
  }

  .row-content1 {
    margin-left: 3%;
    margin-right: 3%;
    text-align: left;
    grid-area: row-content1;
  }

  .left, .right, .mid{
    background-color: rgb(216, 228, 233);
  }

  .top, .bottom {
    text-align: center;
    padding: 8px;
  }

  h3 {
    font-family: 'Ubuntu', sans-serif;
    margin-left: 8%;
  }

@media screen
and (min-width: 641px)
and (max-width: 900px)  {
  .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 4fr 2fr 1fr;
    grid-template-areas: 
    "top top"
    "nav nav"
    "middle middle"
    "left right"
    "bottom bottom";
  }
  .mid {
    border-bottom: none;
  }
  .left {
    border-right: black solid 2px;
  }
  .row-subhead1 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .row-desc {
    padding-left: 10px;
    padding-right: 10px;
  }
  .row-head {
    padding-left: 10px;
    padding-right: 10px;
  }
  .row-subhead {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen
and (max-width: 640px)  {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2fr 1fr 1fr 1fr;
    grid-template-areas: 
    "top"
    "middle"
    "left"
    "right"
    "nav"
    "bottom";
  }

  nav {
    grid-template-columns: 1fr 1fr;
  }

  .mid {
    border-top: none;
    border-bottom: none;
  }

  .left {
    border-bottom: none;
    border-right: black solid 2px;
  }
  .right {
    border-left: black solid 2px;
  }
  .row-subhead1 {
    padding-left: 20px;
    padding-right: 20px;
  }
  .row-content {
    padding-left: 10px;
    padding-right: 10px;
  }
  .row-content1 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .row-desc {
    padding-left: 20px;
    padding-right: 20px;
  }
  .row-subhead {
    padding-left: 20px;
    padding-right: 20px;
  }
  .row-head {
    padding-left: 20px;
    padding-right: 20px;
  }

  button a {
    display: block;
    flex-flow: column nowrap;
  }

  .font-me {
    text-align: center;
  }

  h3 {
    text-align: center;
  }
}